@import "../../styles/variables";

.repo {
  padding-left: $defaultIndent; 
  position: relative;
  // width: 20%;
  box-sizing: border-box;
}

.not-null :hover {
  cursor:grab
}


@media(max-width: $widthScreenDisplayDefault) {
  .repo {
    width: 120px;
  }
  
}
@media(max-width: $widthScreenLaptopDefault) {
  .repo {
    width: 110px;
  }
}
@media(max-width: $widthScreenLaptopSmall) {
  .repo {
    width: 80px;
  }
}